*{
    /* background-color: antiquewhite; */
}
body{
    background-color: rgb(180, 209, 200);
}
h1{
    background-color: beige;
}
ul{
    background-color: rgb(211, 208, 26);
    opacity: 30%;
}
h2{
    background-color: rgba(100, 10, 0, 0.5);
}
body{
    /* background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAJQA+gMBIgACEQEDEQH/xAAcAAADAAMBAQEAAAAAAAAAAAADBAUAAgYBBwj/xAA/EAACAQIEAwUFBgUCBgMAAAABAgMAEQQSITEFQVETImFxgRQykaHwFUJSscHRBiMzYuGS8RZTVHKCoiQ0Q//EABoBAAMBAQEBAAAAAAAAAAAAAAECAwQABQb/xAAmEQADAAIBBAICAgMAAAAAAAAAAQIDESEEEjFBE1EUMiJhFSNx/9oADAMBAAIRAxEAPwDlVMrD+qSOl63EEtwyjXretIobbGm4lawsTTufoRZPs1j7dWtuegamB25Nmjcem9GhkKEZlvTvbl8puwt+GpUmvRebjXkFDOY1ucwYCw7t/nWSSxSGxjUnm/ukVQQNKmW4ZDob2v8ACirBIt5FihNha9v0rO32vk2Jdy48EhOHGQ9xgCdgRvWs2CmjcqYyzDfJViWKZSf5CqR0sflR458QIyoRFJ3YDeuee/QPgx/RzcmHswtFIoI+8K2SJiP5WYkcgK6KKeSN1eWPOV5ixrYLg537T+nINmUWN/Kl/KtPlDfjQ1wzn1RCe+dRtW3YtIbKAfOqpw0fakzukynmdGogw0SJ7soPjqPlVPyExPx+3yJLwiR4wSkYJ0FmoL8HZGIItbnTxinmkTIhWxGt7WrZoJO0yzSMgvpc3qTdzzsquyuNCkQyR5CiHlmO9OQYNJluD3RqaKcArLmzrfqK0ERT3WauVKgtNCWOwIRwUjJHW1KNw+R3vewq8JZFWxNx050KRUNiosdzbWu/nPByeOuSUOGsBr6GvfsxmOgNVVnYaAX8KagYsbEWvyqVXkReVjOfXhx1DDUUN8KEBGXWuqMOl7W8aQxOF797UJz0H459HMT4dvwmlTERpY3rqzhgwyspzdRSOIwJB2uKtHU86ZPJ06fKIGRga3CdapvgT0oL4V1G1apzpmO+maEioUGlpF6U60T9KyPDM266VXv2Zfjc+Sclgdq3caVQOCsdBWkmGtyru4bsXkjSKelDynpVSSPwoWQdKOxdDiJblTEZA5V6i0ZY6fg8/uf2bIV5gUzEsd76X5UFI6KsdqDhMdZWhtIzbu29DTsCyC426mpyKwOlMxlhzqN4tmjH1ST5KseHV2ve58BR/Y26rYcqlxs3Wm4pGGxPxvWWunr0zdHWQxoYQBf6akdMtqH9kxsDaPLfXQkj4UxDiXHvAHyphMUwQX356b1mrFkNK6jGRX4eQShAVepBtQRw2QKcmqdUfT4V0iYnMtpEUivfZYJCGjfI3K3Kkr5Y8jzkx0uDmPY8SgBOY2NrWraxBOdCTzFdQ2HnC6t2ngdaUdFVss0Y13OWgupteQ/FLI6hSLBGHkK9WM3OQ3PS+1VzAhHcFx/ctLy4VMwyow9addQgPEyV2cue5QEX6UCR+8101vVdlkRug8t/StWwsEnvJGSeSkg/CrTm9ok8XokRtduhG2tMpnzAkkeNqfj4fENlcDn3hRosLh0AsCD50Ky/0Mo0JoZCDmkv0FBkMq7iqr4ZWsb6eVq1aOxsYwf/ACrM653otLWiD2rxm/OmllSRR2gAPlTE2FV9VFqUkwsg1XSubmiibRs8cRFxQzhUKmsCPa2t6IiEkXJ9BejKaGdL2TZsGqG1r3oJiyHTbpVmRLnTXzpaRRtl18K1Rka4ZkvGqJzDTalp2CcvlVFxakMSLe9rV1fJnrHwS8Q5Y7AClqbmAJ0BoOTwq3ciGijGRfemEt1qVCZRs2bzFPwO/wB5PUU7oxfEPoulGVKDE4A1BpyIoeYpHkO+BmKlGSMVuiKeYNHWMCh8p3wMGkdHRT0rdY/KiqniKV5EFYqR4lMJbnWqDrairl5UjqSszQRFU0dUHKhJYc6OrL1qbey879hEzqbg286KHzaSjN4gUMEHatwPCs+SZfk0S6Rv2CtsQfOtHwoY63v47URCRRQ/W1ZbxT6LLJRLxPD3bVQD5UFcCxsGQg8yRVtut7VmYWsbUi3Phju9+SeMKuUAqLDpXj4JSO6LU/aMa3rCynYH0o/Il7EEFwxQd1jW3syyDXQiqCJmAsK27MjYCm+ZexX/ANJDYAn7tDfh1tbVaKt0oT5qnWeR1TIb4HXUfKiQ4ZBe6VRZWNaGN6VdTrwO069k6TCpmJyWFIYrBg3yixq60DMNSaE2EYjeh+W9+AqOPJysuAa51NAmwP4h866xsAxpd+Es24p/y2Msc/ZxmIwgF7beVL+zr/dXYzcGZqX+w2/CKousFeGTjIo7U1HpQEmjHPSiriIb+98q9jk8/U/Y5E9t6bjZD92py4rDjc0RMfADv8DSNMolP2VoyFOl6ZSVgOvpUheIxcm+dFXiCHkD61JyyimSqJpOSX9KLFM7b2FSRj08B61umOTqnxpHsZRJdQgjeiqq1Iixwty+NMR45PxC9TboPxyVFCiiqyjlU+PFoean1plMRGRyqTugrFI2JQDotbiU8hScnEMLh0zSsFHjz9KRk/ifDjSHDlj1Y2qbqhuyUXAZCdBXqo7G2bXoN65iT+IJpdMwjXoulewcXCOG7QBr761KnSGUHVdhJ4kV6sD390/Gk8Jx4SIAyKf7g1Px8Wwp99wvrSbT8iPvXo3jhbmtMpBfcWoS8Swh2lWmI8ZC2qsp9aaVHsjTv6DxYfwovs4+hWkeKUndfjTCyqRoRW/FOCuNmanaANhqC2F1/wAU3JNGPecCk5uIQIffv4AVPNHTz7DDt+Dz2Ss9lXn+VJzcdgTQKx9bVkXHcFIwDOYz/eP1qC+B+CzWUc9mT6FZ7OnSthMji6MGB2I1rDIKftxoXdmhgjHKhtDH0ohcVoWFc1PpDLuAsi/hFDyJ/wAtaOzCtMwqblFVs/PYnk5VuJpPxfKliWHKvO1avolqvDPMp9vlDWcncmtgwHOkxIxrMx6mj2nKygJ0HOiLiVFSr16HtQcDLKWFxi9K29vP3UAqN2tq99oYe6Km8Y/zMsHFytcl7Dwrz2r8Uh+NSO0Z9S/pXo31pHCHWSi2nE5Ix3JWrb7bxJ0WRx5G1RRbnW3bRr51KpkpN0VDjJpTmd2v4m9ETEOd3NSExX9pNHjnudjUWkVVMrpJ1J+NNxS9KiLO3SjJM3N/Ss96LpnQRzMB7xt50zFio1+8b1z8MhPOm43rJaKKjoI8e1rACmIcUxN2Y386hRygb0wmIsRWeoKJ7OmgxhUatTMfEWGzkVzSYnT37eFbe122NR7HsDlfR0EvEWO73pOXHEg32qV7U55isMx55TRU68naSGpMWt6XaZWvZzelpJWJskTN1INaiB5PxKfHeqJzPk7ew4xU8DXgmdP+1rU9hf4mxcHdxKiZPxDut/mpzQOY9JMpH3iAaXCxmNu0fPb73uj5UyzR6FcJnVQ/xTg30Z2Q9HX9acTjeDdM4xMYXqWFfPsRJFGpBZQRqbC9QsZjsKZWeRndhsCvdHpVobvxsRxK8n1x+N8PWMyHGQZR/fSf/FPCv+qH+g18n9rw7AymSZrDlYEeVTjjcFc6Yn/WP2qqw0xHUo2fDSRhirrILAgg30/2rYIqZcym560lhoMV2TgORkc93wH608MFLJKqB9Dcqw/u0H5itLbh/sYHafoIYYHdRmyhhoaxsGpNxKOQ1FT8RgMXhwWQs1mstgT5+Nbo+KwsQWSIZ3JuuW5sNz+Xxqiy5V+tifx9yNLg2kDKjAsNbXoU2BxEb5XUddNfretInxBWYRhly7X/ACH1zpyB8QhQTkkkZrE+Ox9NfSm/LzT9M7sxv+hIwOpsUYelYVA3NhV4cQjkWywK5Nhp5iiPLhcThBLJg43GcqcosVP0aX/I17kZYZ9M5xZ4V5kjwrZ8Rb+lfWrsfBsJj0/+CwDm3dv9dKD/AMNYsXIytbcK1H87E/PA3xURVeVl+tK1AsetVjwDiIBVsObr/cDS54ZionyvC9yeld+RjrxQVNL0LxIxNxtTCsBoBc8yKYXhWNygrA2U9RTcPAcapUHDvq1ialWfF7pFEqFI70eMbX1PKmvsrEqpHZhiDqAwzA+VerwzElyqROSPC2lReaPsolRrG1hTUbM21b4ThWIIIeN733ttVTD8KYoRlOprLkzY17KzLYiuYWB3oiF2NlW461Q+zZb3XDKTbcnaijh89h2k4ybgAVnfUQVXBNU2OpHkDRRJcgDfkKpJDEpCyYiUm1wADa1GOFzcpezU/dGXXz51N9Sg7JqFpDlBW6nUDXamEhJOpHkf2oWKxmFwN17EEJobbD96T+32DoYrdne9hpceVd/sv9UDaRZWAACyGw3LaD4VkrpErFySADcWvakl49AwLNfUnQ0NOMYeY2eNr75QenWofHkb5QPkSPMZjYjE5jhMhA0zKTr5VLbjOIRT2mHVGy7ZOQ8/yqxNxGONUBVcrmyoNWPma09vigVmWESOBYft8qvHC5jYryL7OcxGI4lxD/66lUNgQBa31Ymk34FjpHNo2y8zz9a6iTiVoczhBNbVVsSfOoeN4tLNiOy7b+WNWEembzrZiyZPEykiVdr52Lr/AA25dk2FrnvbG9e/YTLoi90aC7jal+IcbnCq6sWLXOUH3QPXX/FSDxvFE37T/wB61THUV7Ed40eDGHOGiKOAtiquCR9b0uvFj2siGzKSbKLXI3+FIdt2kvZlHCse7Y6qfPp417jolLdrqCRqRsxHhW9YY9nmdz2WPtZiixDvhgDZr6+Br08YswhuQL7FeY/yKiupaEBHJYG4GfruaYVmmBuh7S2oNyD0Ph50HghA7mVji5HD9mjG5zZ0S4162oHtKsz398DZjr8KTiWeDJI63OYiwuLWA258xRCl0acM6qDZhlHPn/vSfHKObY9w6aR37EBmfOLL924BNvlXW8PwmJAjRo7Kw1DW67+JtakOHDCx4eJ2uZHy3Q6bag+Gv61Yl4jO8DSCPuoQTpyJIt9da83q6b4lGjDaSNJOGSt3YUsSDmYXuLbAeh3r3BST8PJXGvnQE9699PP0qjgp3fDKcXEwc+8LW0NrfmKHjofaWZFRlEKG7G41tyrz+903NLg1d3G0Fw3EIJ0R1i0Nze/La9OLDDIO0hkFx05VzkuFxMWIeOEhYgNDa1xe+/XSn8I+LgRDkGTRnZDfKfHz/SkvCktwxpyP2PyYd4iGkxOVeRy0SOCd7ezyB0YAjy8aHHj1MSCZVzWGnI3/AErFDTspixByKLqF5n6/Wo/y1yN36CxYOdLBUXMde7pYfvWsq4tSbrYKL/4v8KA2MxOFCtMc5GwjW/xt067UKbjeOcZFwxOt22GXzppx5HzwDvQycRL2QfKbdBYk+VA7TiUzFsoTQ2F/UXpduLyhTnkjYWB01BNje3ja1TBxbHzT3RmEeUns1HIc/O5+dXx4G/KR3y6KqvjzkMmJUs24se74eFVe6sbGWZVIFyb1y02LLYZgbFrlg97ZtBr8eVLYrGjKiM7uqrcW0J5CnfTVk/o75tcnYvxGEIzwgHINCaly8cVCGmyjMt7DrXJDGzlGAdhGo7ovzpeR5SgEe5S+Y72q2PoZX7E3nLmJxsOOdS7AKLALyuaVdIM7NGtzYXAOgqKHdTq19bX5elezSdmoynKfevfetk4O3hEqyvZcYMVtFl390mp0mMlixGTMtwbXH14VPhxxU5nLFRyvW5l7Vg5Ox000qk4u3yI7G3xmbN3izjZlvfyoeHxE7MzNKQRsDvSaYd2NkBZjrqfe52qtJwlpOEYcxBI8WpYMEzEyHUjNyt3bC3n1szmF5DNNiWIxE4zEPcgADT9KWeWVrRpqBYlRqSeZP1tVFOFyuueVjECLgbEUUcFUKpUrJIqXsdRmubX8LW9a5ZMcnaohPKEK9oCzEaKumn6b1qJMNYXFvDsgbfOuhwv8PGRSZnsva5TY6sLbDrbQ6VSHBYlAVFJUaAne1dXVY0csdPyfOos4RTCO7rmViOfnpRIXlR2DIeybfu+HhQxiWABygNa9ulM4aayiSUgi9iLV6DejG2wmGw8HfcRZSpHeYW02Jvy1tVGXhipkjJdnYAFFu297flR4uz7WGRP6bLleMjUgjVT4761WnmyyhlYkhUu1tLDT9vjWO8r2L3aQngeHYfCYcDFHUvm2AAUjUc+gvVDCwYYySJho47P37Fbi22ny+dR8Vir9q1gcqOwHRgCf0PwrOE8SZcFJJq/eCAX1u17j1tUrm2tgVN8suPNhYFS9i4AyudQT9fWlMw4qJ5UhK5pAgurHTUCudWXPjIIpRI6KuYou4IBPzFqM+LRZ8xBEcKxpmBvYWHxtr8az1gbXJWHpbOyw/EUVyqk90WuxB5/Oj4ohoVKP724O+tuVcnDJh4nlWIlUB0xLNnZd7XH3bnqKfwGP7TBuDKssqgmM5Suu2x15c6w5OkcvaNc5eCvFhHZbM4Oa1gORJufXb4U0uGtkRnDDLci/5nwFRMDjplZe3k7QSjuEWunME8uXjTkTSyQI8bZcpBjLNueptpvzvao3ipPyVT2L4ybDRYeRLksEAylbEKDc/XwpPC8TmeW2HUso0LMMqg2BHrqKHxKBVhllkVhJ2eQ5tWJYaaeRbT4UnBxJ8CqmWPMkdgf0+V62ziVRxySu0mdfDNLIhllCxouly2+nTp+9ZeJ4mIjLqbqrAaX+r+NRuHcRfHlkU2B015t92xJ+taseyDuGQiR0G2vePT/NYrjsrTGmto5qd8shglIAj1ypsAN9efjrXuExqCHSKPsTYXI1Yb87HWqOLuM5x0D5yNG1IbyJ8r/CtJOwMIlu5Nrjuk5dbkflpW1XNJLRN8MncQmM0fZxQ9kt98psL8rjnoetRVVzMsLAdAR0ubVTx+KXslWI6OQBmWzHlqOXWpfbKJrsSbDKMvOteJfx4RGrZ5Ln9odQbRxICQPui2t/rlSuJxLEApfXu3606JCkTLMLuxuVGl+l61vFJB2jJoNECjcjf51Zf2he/wCyYcSUVSV91iL9dda0k7Wd1bZQOfnT0kYuyumivmHmdTWjyxMoCgqCQdutUVL0g94oIJLlcuZvkPOqGGwzrJGrAm+4tp9aVrBNEE7h1y7dTzpiF9bWYssZY330BNC6ZzrYaCFoArM37EeHwp1ceFxTxlCQmVlP4Tbr61IaZ5IwwU6X5ddBb/eipJknSSSLvhhmViCSo22NjvUqx93LDNaZcjSaRJCSGZl0z75bDW/X650WLh6oqmSQhgxsl7s3S/QWH51Fi4iRO2TNYLcBgBzvfT0raPic7zK5izMpswzb3ANz6D8qzvFb8GicknRswgjZ5JgVjQAgsACdTfqP2pN+LcNRyss8KyA2ZdrHmKk4Hikkwmh0kREzMh10Jtp5afGvY3wjxq0kUecgFr9aRdMl+47y/RxUjGVDNlsbkG3M+FM4QBw0TJ3bAkqbEGsiQMArL/LFvd9TW0UoiIVQQhVrnmdDXtU98HmtlTOsSdoDmsL6i2Tu8/8AF6oYrERy4fDIgOZl792Owv8AXlUEysZezHeDaEeQuf1pzCZo42SQAyKl01965AuPrnWeo52TXCYxg5I/aFw7NmeTOsguLEMCLAeu/wAR0XiidcTiMNIQirNHKgA1911+RIrGgUYx5JBImaSyKqZmcDc76b1WgmheRO2hjETHKozZmI/Ffpr8jXVWir8EVcREMVjWjQluyy5mHK4130P1zqgk8UUcgLK0UMYyaMbNsxsQLny9L1PaN82KjiKxNGruVO5Cjl56fDXlQosQHhkjlxKK5UHNlLZQNOQty3vTdvdphlgMJiZUxoyl80wNxe+YEc9PKuu4dJJJbsDH7T2Q7UOli+lm/LTfeuXeB8JBbtEVA5Zptw17e7bXl8b0Tg+JfD46ORVleFWNg2gJ1HPz+uQzQrnZSXo7TBvDZkaVmeIglTbuG+x1/XptRcE+IMIKElw4ci/JrgryO35jzqGmMWDFSTh1bO3Z2IzXG3rrrT2E4lHh5hiIiIo1RgUUhhGw+6NdRsR4G3jXm3iem0i3yDfEZJ5omCxEosYOdVvc2AvpzqHw/DM+JEboJM6lshY3J5A+tqcxH8QQJJHBC7xxucjuwvcnZiBra5v5bjohgMQcDxEiQoUVbqVN1sbD5eHMU2OLjG+CNud7K7rPwzurE0rgmNSLgbb2HkfiaOvEZojdZpRIBdxKvd9OfQfV6m8UxjSx+1RSIitdU11HWym1zz6eWpqB9rY3DxLIWlZHPdZ3zBt+XKmjpnkW6RyvT4Owl4k+IfLBLH7Q41j1uNd7dP218eenx0hd0LPkN7X0Hp8KVi4k6g5DaxJdFWx1Fgbncajy9dFJZC4VmN8o0HnV8fTqOCeTIzpuFRJK+Imm/wDysFubi9ja3w+dKHBRhckkiqUU5k1vv/ipeG4jLDnRGIuwJ8+teLjnkicZyCxvp0o/HW39CLIVWVJLoZR2cgAFhqDy+FrW86Xk4gNIsPlESkKh/F4/HWkBi2RGjkHLS3WsGVIVZ/vi+X9frlTLG/Yd7H7tLfOMqXF770PFYZZGitYKpACrzI60BcYxj7ME6AWOW17UWHFxJdWNu02Y8uljQ009jKgeH4axkurZXVzlTSzHl53/AGqvgg0ZnlxCq3aLlCk7X3HqDSMmIRCLGzqQRbQ8qVlx/azdkrBVz3BNyF+HLeupXfAysNHEpnY2ByqbAmwt1Nayj2lk75KA6FLgj0t4VoZcjSIpEuxLrsegG3Si4Au8l5f5MI919CfIAnXan00gp7ZouGaEv2p1MeViPvg2I9d/lRMUwjiHZhgzhRIwtayqAAPzrfiCxd2SKV5A9hZhbNpfqfoUsWX2aAAk94uSp2N7fpSJt8sdpG2ExrRdnJJGGS2QSAZb3BJ1+O9NJhJXRWisI2F115cqQeQRSMAD3zYruNhWdsBoMViFA+6G28KNT3PaOJl+7H06UMMTJE19SLmsrK1GaRiEkCcjcIUv4NvT+HFuDw4gf1MxF+gvf9Kyspb/AFC/AHDyyXxDiRgUlUWGxurk3+Ao0hytgLAXZGlZjuTmYAeVlFZWUlDIaxuGjg43PDHmy+yODc3vdda56PuwGQe8FX17prKyq4/AQ+Ej7ZB2jMQHUgX5mqeIBiSKFGIDIHJ53JP7VlZSV+yRwo+Ik7BRp7h156itoZCnDZsRYMY5RlRhdbai1vIWr2srtLQAfEJGlgnD2Jw8zqptYkAga9d6FC7djESxNnI+dZWUzS7Bb8BZ53bMNAAo0A31FMYjDr9mRvdrhrDbu3UnT4VlZU96XB0+AEsaxGB1HekBDH0oYY6+DZfT6FZWU7EZkKg4mBSLhpArDqK9CqrPlFsklhbpqP0FZWVx3o9Iszm57h0rwoCI731J5+deVlAZBUmYYzQDuuwG+lLYi0cuKCgWiJVR5MR+lZWUy8jIcx/8uFcu6r7x3O378qUwtsQMWzqA0SllK6Xt1r2sroXAfZkDZ0WOwAznbwtTOD/mNG7HUvk9Ln9qyspa8BByMR7PY6sbE89xTWJ/pQINBlzaddaysqX0VXgDhRnwTyMSWuGHgSDf8qXEjkXvWVlM/ID/2Q==);
    background-repeat: repeat-x;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: scroll; */
    background: #ff0000 url("https://static.vecteezy.com/vite/assets/photo-masthead-375-BoK_p8LG.webp") repeat-x right top scroll;
}

h1{
    /* border-style: dashed; */
    border-style: solid;
    border-width: 17px 2px;
    border-color: red;
    letter-spacing: 3px;
    color: black;
    font-variant: normal;
    text-shadow: 2px 2px #131e5a;
    /* border-width: medium; */
}
h2{
    border-style: double;
    border-color: aquamarine black yellow gray;
    
}
/*  */
h2{
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color:green ;
    border-radius: 15px;
    word-spacing: 20px;
}
div{
    width: 600px;
    /* margin: auto; */
    border: 10px solid rgb(53, 42, 42);
     
}

p{
    padding: 10px 25px 80px 3px;
    box-sizing: border-box;
}
p#p1{
    background-color: aliceblue;
    height: 2000px;
    width: 200%;
}
div {
  max-width: 1000px;
  width: 10%;
}
p#p1{
    max-width: 300%;
    width: 300px;
    height: 29px;
    padding: 5%;
    border: 2px solid blue;
    margin: 0;
    outline-style: dotted;
    outline-width: 10px;
    outline-offset: 10px;
    outline-color: rgb(50, 128, 197);
    border-radius: 6px;
    text-decoration: overline;
    text-decoration-line:underline;
    text-decoration-thickness:9px;
    text-decoration-color: rgb(168, 33, 85);
    
    outline-offset: 17px;
}


div#p2{
    
    background-color: aliceblue;
    width: 100%;
    padding: 30px;
    text-align: center;
    
}

a{
    text-decoration: none;
}

#p3{
    background-color: aliceblue;
    border: 2px solid yellow;
    text-indent: 80px;
}



a:active{
    background-color: aqua;
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
    border: 2px solid red;
    text-align: center;
}
li{
    list-style-type:lower-roman ;
}
table{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    text-align: left;
    height: 30px;
    border-collapse: collapse;
}
td,th{
    border: 1px solid black;
    
    height: 30px;
    vertical-align: bottom;
}
th{
    text-align: left;
}